In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('EDA_Gold_Silver_prices.csv')

In [3]:
df.head(10)

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07
5  Aug-97       162.16   11640.38
6  Sep-97       172.13   11755.57
7  Oct-97       181.57   11769.89
8  Nov-97       187.99   11370.19
9  Dec-97       224.16   11324.79

In [4]:
corr = df['SilverPrice'].corr(df['GoldPrice'])

In [5]:
print(corr)

0.9542559570539775

In [6]:
corr = df.corr()

In [7]:
print(corr)

             SilverPrice  GoldPrice
SilverPrice     1.000000   0.954256
GoldPrice       0.954256   1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        241 non-null    object
 1   SilverPrice  241 non-null    float64
 2   GoldPrice    241 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.8+ KB

In [9]:
df.shape

(241, 3)

In [13]:
print(df['Month'][141])

Dec-08

In [16]:
print(df['Month'][130])

Jan-08

In [18]:
sub=df['Month'][130:141]

In [19]:
print(sub)

130    Jan-08
131    Feb-08
132    Mar-08
133    Apr-08
134    May-08
135    Jun-08
136    Jul-08
137    Aug-08
138    Sep-08
139    Oct-08
140    Nov-08
Name: Month, dtype: object

In [20]:
corr = df.corr()[130:141]

In [21]:
print(corr)

Empty DataFrame
Columns: [SilverPrice, GoldPrice]
Index: []

In [26]:
corr = df[130:142]

In [27]:
corr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 130 to 141
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        12 non-null     object
 1   SilverPrice  12 non-null     float64
 2   GoldPrice    12 non-null     float64
dtypes: float64(2), object(1)
memory usage: 420.0+ bytes

In [28]:
corr.shape

(12, 3)

In [29]:
corr.head(12)

      Month  SilverPrice  GoldPrice
130  Jan-08       632.29   35025.78
131  Feb-08       701.87   36642.46
132  Mar-08       775.49   39082.77
133  Apr-08       700.96   36416.00
134  May-08       718.20   37435.38
135  Jun-08       729.63   38087.88
136  Jul-08       773.80   40256.56
137  Aug-08       625.97   36026.85
138  Sep-08       555.58   37815.02
139  Oct-08       507.20   39235.79
140  Nov-08       483.55   37284.82
141  Dec-08       501.82   39696.27

In [30]:
co2=corr.corr()

In [31]:
print(co2)

             SilverPrice  GoldPrice
SilverPrice     1.000000   0.009584
GoldPrice       0.009584   1.000000