In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('nas.csv')

In [4]:
df.head()

,STUID,State,District,Gender,Age,Category,Same.language,Siblings,Handicap,Father.edu,...,Express.science.views,Watch.TV,Read.magazine,Read.a.book,Play.games,Help.in.household,Maths..,Reading..,Science..,Social..
0,26011001001,Maharashtra,1,Girl,13 years,3.0,2.0,1 sibling,No,Illiterate,...,Agree,Every day,Never,Once a month,Once a week,Every day,NaN,33.33,NaN,NaN
1,26011001002,Maharashtra,1,Girl,15 years,3.0,2.0,3 siblings,No,NaN,...,Agree,Once a week,Never,Never,Once a week,Every day,NaN,62.07,NaN,NaN
2,26011001003,Maharashtra,1,Girl,14 years,3.0,2.0,3 siblings,No,Degree & above,...,Agree,Every day,Once a month,Once a month,Once a week,Every day,NaN,41.38,NaN,NaN
3,26011001004,Maharashtra,1,Boy,13 years,3.0,2.0,3 siblings,No,Secondary,...,Agree,Every day,Every day,Never,Every day,Every day,29.82,NaN,NaN,NaN
4,26011001005,Maharashtra,1,Girl,14 years,3.0,2.0,2 siblings,No,Primary,...,Neither,Never,Never,Once a month,Once a week,Every day,NaN,NaN,27.27,NaN

In [5]:
df.columns

Index(['STUID', 'State', 'District', 'Gender', 'Age', 'Category',
       'Same.language', 'Siblings', 'Handicap', 'Father.edu', 'Mother.edu',
       'Father.occupation', 'Mother.occupation', 'Below.poverty',
       'Use.calculator', 'Use.computer', 'Use.Internet', 'Use.dictionary',
       'Read.other.books', 'X..Books', 'Distance', 'Computer.use',
       'Library.use', 'Like.school', 'Subjects', 'Give.Lang.HW',
       'Give.Math.HW', 'Give.Scie.HW', 'Give.SoSc.HW', 'Correct.Lang.HW',
       'Correct.Math.HW', 'Correct.Scie.HW', 'Correct.SocS.HW',
       'Help.in.Study', 'Private.tuition', 'English.is.difficult',
       'Read.English', 'Dictionary.to.learn', 'Answer.English.WB',
       'Answer.English.aloud', 'Maths.is.difficult', 'Solve.Maths',
       'Solve.Maths.in.groups', 'Draw.geometry', 'Explain.answers',
       'SocSci.is.difficult', 'Historical.excursions', 'Participate.in.SocSci',
       'Small.groups.in.SocSci', 'Express.SocSci.views',
       'Science.is.difficult', 'Observe.experiments', 'Conduct.experiments',
       'Solve.science.problems', 'Express.science.views', 'Watch.TV',
       'Read.magazine', 'Read.a.book', 'Play.games', 'Help.in.household',
       'Maths..', 'Reading..', 'Science..', 'Social..'],
      dtype='object')

In [6]:
df.corr()

,STUID,District,Category,Same.language,Maths..,Reading..,Science..,Social..
STUID,1.000000,0.999926,0.183082,-0.084155,-0.064906,0.176836,0.088149,0.069857
District,0.999926,1.000000,0.184081,-0.083648,-0.064385,0.176655,0.088583,0.070093
Category,0.183082,0.184081,1.000000,-0.029298,0.044810,0.147099,0.083712,0.075718
Same.language,-0.084155,-0.083648,-0.029298,1.000000,-0.038902,-0.101234,-0.071170,-0.074421
Maths..,-0.064906,-0.064385,0.044810,-0.038902,1.000000,0.351509,0.353656,0.560796
Reading..,0.176836,0.176655,0.147099,-0.101234,0.351509,1.000000,0.459859,0.413745
Science..,0.088149,0.088583,0.083712,-0.071170,0.353656,0.459859,1.000000,0.574896
Social..,0.069857,0.070093,0.075718,-0.074421,0.560796,0.413745,0.574896,1.000000

In [10]:
corr = df['Siblings'].corr(df['Mother.edu'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'